@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: grey;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: grey;
    border-radius: 5px;
    padding: 0 10 px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 10px;
}

header .logo:hover {
    color: grey;
    background-color: white;
    transition: 1s;
}

header .navbar {
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
    margin-left: 30px;
}

header .navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.5s;
    font-size: 0.9em;
    text-transform: uppercase;

}

header .navbar li a:hover {
    border-bottom: 5px solid grey;
    padding: 2px;
}


/*Contenido de la web*/

.contenido {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .tituloBox {
    position: relative;
    max-width: 600px;
    text-align: left;
    padding: 20px;
}

.contenido .tituloBox h2 {
    font-size: 2.2em;
    color: white;
    margin: 10px 0;
    display: block;
    width: 100%;


}

.contenido .tituloBox h2 span {
    background: rgb(207, 129, 12);
    ;
    color: white;
    padding: 0 10px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    border-radius: 20px;

}

.contenido .tituloBox p {
    font-size: 1.8em;
    line-height: 1.5;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 200px;
    margin-bottom: 20px;

}

.contenido .tituloBox a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(207, 129, 12);
    ;
    background-color: #fff;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
    padding: 10px 25px;
    display: inline-block;
}

.contenido .imgBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
}

.contenido .imgBox img {
    height: 80vh;

}

.contenido .imgBox img:hover {
    height: 80vh;
}

/*Copyright*/

.copyright {
    position: absolute;
    bottom: 0px;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #fff;
    text-align: center;
}

.redesSociales {
    position: absolute;
    bottom: 35px;
    left: 100px;
    display: flex;
    list-style: none;
}

.redesSociales li {
    padding: 10px;
}

.redesSociales li a {
    color: white;
    font-size: 2.5em;
    transition: 0.3s;
}

.h1Proyectos {
    text-align: center;
    margin-top: 150px;
}

.imgProyectos {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

h3 {
    text-align: center;
}

form {
    border: 10px outset rgb(237, 175, 5);
    width: 600px;
    height: 300px;
    margin: auto;
    color: white;
    border-radius: 10px;
    background-color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    padding-top: 15px;
}